html body{
    padding: 0px;
    margin: 0px;
}
.pagina{
    margin-left: 5%;
    margin-right: 5%;
    background-color: aliceblue;
}
.titulo{
    margin-bottom: 2em;
    border-bottom: 1px lightgray solid;
    padding: 10px;
}
.titulo h2{
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.titulo p{
    padding: 10px;
    font-size: 50px;
}
.homediv{
    background-color: lightgray;
    padding: 10PX;
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 20PX;
}
.homediv img{
    width: 350px;
}
.home{
   margin: 30px;
}
.homeimg img{
    padding: 2px;
    width:1200px;
    height: 450px;
}

section{
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 20px;
}
section div{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}
section img{
    width: 350px;
}
section h3{
    font-size: 20px;
    height: 80px;
}
section div button{
    background-color: #0B38DE;
    border: 2px solid lightslategray;
    border-radius: 0px;
    padding: 10px;
}
section div button a{
    color: black;
    font-size: 16px;
}
section button:hover{
    background-color: red;
    transition: 0.6s;
}